*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Raleway', sans-serif;
  background: rgb(50, 50, 50);
}

.clearfix{
  clear: both;
}

#feedback-bar{
  width: 100%;
  height: 50px;
  z-index: 110;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  text-align: center;
  line-height: 50px;
}

#feedback-bar.feedback-success{
  background: #55FA9C;
}

#feedback-bar.feedback-fail{
  background: #FC424B;
}

/*----------------*/
/*Home page login*/
/*----------------*/

.login-fullpage{
  width: 100%;
  height: 100vh;
  display: block;
  position: relative;
  padding-top: 100px;
  background: rgb(225, 225, 225);
}

.login-outer{
  width: 20%;
  min-width: 300px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.login-logo{
  width: 80%;
  height: 50px;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.login-logo img{
  height: 50px;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.login-inner{
  width: 100%;
  height: 300px;
  display: block;
  position: relative;
  margin-bottom: 10px;
  background: rgb(50, 50, 50);
}

.login-form{
  width: 100%;
  display: block;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}

.login-field{
  width: 100%;
  position: relative;
}

.login-field label{
  width: 70%;
  height: 30px;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  color: #f5f5f5;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  line-height: 30px;
}

.login-field input{
  width: 70%;
  height: 40px;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  border: 0;
  background: #f5f5f5;
  color: #27363f;
}

.login-field input:focus{
  border: 0;
  outline: none;
}

.login-button{
  width: 35%;
  height: 40px;
  display: block;
  position: relative;
  float: right;
  margin-top: 30px;
  margin-right: 15%;
  border: 0;
  background: #3eb978;
  color: #f5f5f5;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 40px;
}

.login-button:hover{
  background: rgb(150, 150, 150);
  cursor: pointer;
}

.forgot-password-container{
  width: 100%;
  font-size: 15px;
  text-align: center;
}

.forgot-password-container a{
  color: rgb(50, 50, 50);
  font-size: 15px;
  text-decoration: none;
}

.forgot-password-container a:hover{
  opacity: 0.8;
}

.password-popup-outer{
  width: 100%;
  height: 100vh;
  z-index: 100;
  display: none;
  position: absolute;
  padding-top: 160px;
  top: 0;
  left: 0;
  background: rgba(50, 50, 50, 0.6);
}

.password-popup-inner{
  width: 20%;
  min-width: 300px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgb(50, 50, 50);
}

.password-popup-close{
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  color: #27363f;
  font-size: 30px;
  text-align: center;
  line-height: 40px;
}

.password-popup-close:hover{
  cursor: pointer;
  opacity: 0.8;
}

.password-heading{
  width: 70%;
  height: 30px;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  color: #f5f5f5;
  font-size: 16px;
  font-weight: ;
  text-align: left;
  line-height: 30px;
}

.password-popup-inner p{
  width: 70%;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  color: #f5f5f5;
  font-size: 14px;
  text-align: left;
}

.password-popup-inner p span{
  font-weight: 700;
}

.password-form{
  width: 70%;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
}

.password-field{
  width: 100%;
  position: relative;
}

.password-field input{
  width: 100%;
  height: 40px;
  display: block;
  position: relative;
  margin-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #d0cfce;
  border-radius: 5px;
  background: rgb(250, 255, 189);
  color: #27363f;
}

.password-field input:focus{
  border: 1px solid #00a3d8;
  border-radius: 5px;
  outline: none;
}

.password-button{
  width: 100%;
  height: 40px;
  display: block;
  position: relative;
  border: 0;
  background: #3eb978;
  color: #f5f5f5;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 40px;
}

.password-button:hover{
  background: rgb(150, 150, 150);
  cursor: pointer;
}

/*----------------*/
/*Main Header Nav*/
/*----------------*/
header{
  width: 100%;
  height: 100px;
  display: block;
  position: relative;
  background: rgb(50, 50, 50);
}

a.header-logo{
  width: 15%;
  display: block;
  position: relative;
  float: left;
  top: 50%;
  transform: translateY(-50%);
  outline: none;
}

a.header-logo img{
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.header-nav-button{
  width: 100px;
  height: 100px;
  display: block;
  position: relative;
  float: right;
  color: rgb(200, 200, 200);
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  line-height: 100px;
  user-select: none;
}

.header-nav-button:hover{
  background: rgb(150, 150, 150);
  color: #f5f5f5;
  cursor: pointer;
}

.header-nav-button span.nav-words{
  font-size: 10px;
  font-weight: 700;
  display: none;
}

.header-nav-button:hover span.nav-symbol{
  display: none;
}

.header-nav-button:hover span.nav-words{
  display: block;
}

.nav-page, .nav-page:hover{
  background: #3eb978;
  color: #fff;
}

/*Dropdown styling*/
.header-nav-button .header-nav-dropdown{
  width: 100px;
  z-index: 500;
  display: none;
  position: absolute;
  top: 100px;
  background: red;
}

.header-nav-button#account-link:hover .header-nav-dropdown{
  display: block;
}

.header-nav-button .header-nav-dropdown .header-nav-link{
  width: 100%;
  height: 100px;
  display: block;
  position: relative;
  background:  rgb(50, 50, 50);
  color: rgb(200, 200, 200);
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  line-height: 100px;
  user-select: none;
}

.header-nav-link .nav-words{
  display: block !important;
}

.header-nav-link:hover{
  background: rgb(150, 150, 150) !important;
  color: #f5f5f5 !important;
  cursor: pointer !important;
}

/*----------------*/
/*Various Nav Bars*/
/*----------------*/
.left-nav-outer{
  width: 15%;
  min-height: calc(100vh - 110px);
  display: block;
  position: relative;
  float: left;
  background: rgb(50, 50, 50);
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  cursor: default;
}

.left-nav-title{
  width: 100%;
  height: 75px;
  display: block;
  position: relative;
  background: #3eb978;
  font-size: 20px;
  font-weight: bold;
  line-height: 75px;
}

.left-nav-link{
  width: 100%;
  height: 50px;
  display: block;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  color: #f5f5f5;
  font-size: 16px;
  line-height: 50px;
}

.left-nav-link:hover{
  background: rgb(150, 150, 150);
  color: #f5f5f5;
  cursor: pointer;
}

/*----------------*/
/*Footer Styling*/
/*----------------*/
footer{
  width: 100%;
  height: 50px;
  z-index: 90;
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 11px;
  font-weight: normal;
  background: rgb(25, 25, 25);
}

.footer-logo{
  height: 20px;
  display: block;
  position: relative;
  float: left;
  outline: none;
}

.footer-logo img{
  max-height: 20px;
}

.footer-link{
  height: 20px;
  position: relative;
  float: right;
  margin-left: 5px;
  line-height: 20px;
}

.footer-link span{
  color: #00a4d6;
}

.footer-link a{
  color: #fff;
  text-decoration: none;
}

/*----------------*/
/*Common page elements*/
/*----------------*/

.body-view-outer{
  width: 85%;
  min-height: calc(100vh - 100px);
  display: block;
  position: relative;
  float: right;
  padding: 15px;
  padding-bottom: 60px;
  background: rgb(225, 225, 225);
}

.body-view-title{
  width: 100%;
  height: 50px;
  display: block;
  position: relative;
  float: left;
  margin-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  color: rgb(50, 50, 50);
  font-size: 25px;
  font-weight: bold;
  line-height: 50px;
  background: rgb(250, 250, 250);
}

.activity-outer{
  width: 100%;
  display: block;
  position: relative;
  float: left;
  margin-bottom: 10px;
  padding: 10px 25px;
  background: rgb(250, 250, 250);
}

.activity-information{
  width: 75%;
  display: block;
  position: relative;
  float: left;
}

.activity-date{
  font-size: 12px;
  color: rgb(75,75,75);
}

.activity-author{
  font-size: 18px;
  color: rgb(50, 50, 50);
}

.activity-description{
  font-size: 18px;
  color: rgb(50, 50, 50);
}

.activity-button-group{
  width: 25%;
  display: block;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
}

.activity-button{
  width: 50px;
  height: 50px;
  display: block;
  position: relative;
  float: right;
  text-align: center;
  line-height: 50px;
  color: rgb(250, 250, 250);
}

.activity-edit{
  background: #3E83A8;
}

.activity-edit:hover{
  background: rgb(150, 150, 150);
  color: #f5f5f5;
  cursor: pointer;
}

.activity-view{
  background: #FFB355;
}

.activity-view:hover{
  background: rgb(150, 150, 150);
  color: #f5f5f5;
  cursor: pointer;
}

/*----------------*/
/*Dashboard Page*/
/*----------------*/
.dashboard-fullpage{
  width: 100%;
  min-height: calc(100vh - 100px);
  display: block;
  position: relative;
  background: #fff;
}

/*----------------*/
/*Template Setup Page*/
/*----------------*/
.template-setup-fullpage{
  width: 100%;
  min-height: calc(100vh - 100px);
  display: block;
  position: relative;
  background: #fff;
}

/*----------------*/
/*New Style Setup Page*/
/*----------------*/
.new-style-fullpage{
  width: 100%;
  /*min-height: calc(100vh - 100px);*/
  display: block;
  position: relative;
  background: #fff;
}

.initial-setup-outer{
  width: 85%;
  min-height: calc(100vh - 100px);
  display: block;
  position: relative;
  float: right;
  padding: 15px;
  padding-bottom: 60px;
  background: rgb(225, 225, 225);
}

.initial-setup-inner{
  width: 100%;
  min-height: calc(100vh - 175px);
  display: block;
  position: relative;
  float: left;
  padding: 20px;
  background: #f5f5f5;
}

.setup-title{
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  float: left;
  margin-bottom: 20px;
  color: rgb(50, 50, 50);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

form#setup-form{
  width: 100%;
  display: block;
  position: relative;
}

form#setup-form .form-col{
  width: 33.3%;
  min-height: calc(100vh - 258px);
  display: block;
  position: relative;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.form-col .form-col-title{
  width: 100%;
  height: 25px;
  display: block;
  position: relative;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(50, 50, 50);
  font-size: 18px;
  text-align: center;
  text-decoration: underline;
  user-select: none;
}

.input-group{
  width: 100%;
  display: block;
  position: relative;
  float: left;
  margin-bottom: 5px;
  margin-top: 5px;
}

.input-group label{
  width: 49%;
  display: block;
  position: relative;
  float: left;
  color: rgb(50, 50, 50);
  font-size: 14px;
  text-align: right;
  user-select: none;
}

.input-group input, .input-group select{
  width: 49%;
  height: 25px;
  display: block;
  position: relative;
  float: right;
  user-select: none;
  border: 1px solid rgb(50, 50, 50);
}

.form-col#preview-area{
  min-height: 0px !important;
  background: grey;
  padding: 0 !important;
}

/*----------------*/
/*Setup Page Preview*/
/*----------------*/

.preview-outer{
  width: 100%;
  display: block;
  position: relative;
  float: left;
  background: rgb(150, 150, 150);
  font-family: 'Raleway';
}

.preview-header{
  width: 100%;
  height: 50px;
  display: block;
  position: relative;
  float: left;
  background: rgb(50, 50, 50);
}

.preview-logo{
  max-width: 20%;
  height: auto;
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left:auto;
  margin-right: auto;
}

.preview-navigation{
  width: 100%;
  height: 30px;
  display: block;
  position: relative;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  background: rgb(50, 50, 50);
}

.preview-navigation-link{
  width: 20%;
  height: 30px;
  display: block;
  position: relative;
  float: left;
  font-size: 12px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}

[class^='nav-link-hyper-']{
  color: #3eb978;
}

.preview-underlined-link{
  text-decoration: none;
}

.preview-content{
  width: 90%;
  height: auto;
  display: block;
  position: relative;
  float: left;
  margin-top: 10px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10px;
  background: #f5f5f5;
}

.preview-hero{
  max-width: 100%;
  display: block;
  position: relative;
  float: left;
}

.preview-title{
  width: 100%;
  display: block;
  position: relative;
  float: left;
  margin-top: 10px;
  color: rgb(50, 50, 50);
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.preview-text{
  width: 100%;
  display: block;
  position: relative;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: rgb(50, 50, 50);
  font-size: 14px;
}

.preview-body-link{
  color: #3eb978;
  cursor: pointer;
}

.preview-line-break-outer{
  width: 100%;
  height: 30px;
  display: block;
  position: relative;
  float: left;
}

.preview-line-break{
  width: 100%;
  height: 12px;
  display: block;
  position: relative;
  float: left;
  border-bottom-color: rgb(50, 50, 50);
  border-bottom-style: dashed;
  border-bottom-width: 1px;
}

.preview-voucher-outer{
  width: calc(100% - 40px);
  display: block;
  position: relative;
  float: left;
  margin: 20px;
  border: 2px solid rgb(50, 50, 50);
}

.preview-voucher-left{
  width: 50%;
  height: 140px;
  display: block;
  position: relative;
  float: left;
  padding: 15px;
  background: rgb(200, 200, 200);
}

.preview-voucher-text{
  width: 100%;
  display: block;
  position: relative;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(50, 50, 50);
  text-align: center;
  font-size: 14px;
}

.preview-voucher-code{
  width: 100%;
  display: block;
  position: relative;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(50, 50, 50);
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.preview-voucher-right{
  width: 50%;
  height: 140px;
  display: block;
  position: relative;
  float: right;
  background: #3eb978;
}

.preview-voucher-instructions{
  width: 100%;
  height: 140px;
  display: block;
  position: relative;
  float: left;
  color: rgb(50, 50, 50);
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  line-height: 140px;
}

.preview-footer{
  width: 100%;
  display: block;
  position: relative;
  float: left;
  background: rgb(50, 50, 50);
}

.preview-social-outer{
  max-width: 99px;
  height: 30px;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.preview-social{
  max-width: 20px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 15px;
  border: 0;
}

.preview-footer-text{
  width: 60%;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #f5f5f5;
  font-size: 14px;
  text-align: center;
}

.preview-view-online{
  width: 60%;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #3eb978;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}

.preview-unsubscribe{
  width: 60%;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #3eb978;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}
