<!--StyleStart{"headingColour": "[[heading-color]]","emailBackground": "[[email-background-color]]","contentBackground": "[[content-background-color]]","paragraphColour": "[[paragraph-text-color]]","p": "16","paragraphFont": "[[font-family]]","paragraphLetterSpacing": "initial","paragraphLineHeight": "initial","h1FontFamily": "[[font-family]]","h1FontSize": "24","h1LetterSpacing": "initial","h1LineHeight": "initial","h1FontWeight": "initial","h2FontFamily": "[[font-family]]","h2FontSize": "22","h2LetterSpacing": "initial","h2LineHeight": "initial","h2FontWeight": "initial","h3FontFamily": "[[font-family]]","h3FontSize": "20","h3LetterSpacing": "initial","h3LineHeight": "initial","h3FontWeight": "initial","h4FontFamily": "[[font-family]]","h4FontSize": "18","h4LetterSpacing": "initial","h4LineHeight": "initial","h4FontWeight": "initial","linkColour": "[[link-text-color]]","linkUnderline": "[[link-underline]]"}StyleEnd-->

<!-- BrandedStart -->
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="section-padding email" style="margin: 0px; padding: 0px; background: [[email-background-color]];"
data-styles="[[data-styles]]"
data-mappings="[[data-mappings]]"
data-variants=""
>
	<tbody>
		<tr class="gmail-fix">
		    <td valign="0">
		        <table cellpadding="0" cellspacing="0" border="0" align="center">
		            <tbody>
		                <tr>
		                    <td cellpadding="0" cellspacing="0" border="0" height="1" style="line-height: 1px; min-width: 600px;" valign="0"><img style="display: block; max-height: 1px; min-height: 1px; min-width: 600px; width: 600px;" src="http://img2.email2inbox.co.uk/2016/hbc/01/template/spacer.gif" alt="" width="320" height="1" /></td>
		                </tr>
		            </tbody>
		        </table>
		    </td>
		</tr>
		<tr>
			<td align="center" valign="top">
				<!-- Template Header: START -->
				<table width="100%" border="0" cellpadding="0" cellspacing="0" class="blockArea block wrapper content">
					<tbody>
						<tr>
							<td align="center" valign="top" width="100%" bgcolor="[[header-background-color]]">
								<table width="100%" border="0" cellspacing="0" cellpadding="0" class="contentBlock block">
									<tbody>
										<tr>
											<td height="25" valign="0"></td>
										</tr>
										<tr>
											<td style="text-align: center;" align="center" valign="top" width="100%">
												<a href="[[brand-logo-link]]" style="border: none;">
													<img src="[[brand-logo]]" border="0" alt="[[brand-logo-alt]]" style="outline: none; display: inline-block;" class="img-max-ninety">
												</a>
											</td>
										</tr>
										<tr>
											<td height="25" valign="0"></td>
										</tr>
									</tbody>
								</table>
								<table border="0" cellpadding="0" cellspacing="0" width="100%" height="40" bgcolor="[[navigation-background-color]]">
									<tbody>
										<tr>
											<td height="auto" class="text" align="center" valign="middle">
												<p style="letter-spacing: initial; line-height: initial; font-size: 18px;">
													<a href="[[hyper-link-1]]" class="navigation-link-1" style="color: [[navigation-text-color]]; font-family: [[font-family]]; font-weight: [[link-weight]]; text-decoration: [[text-decoration]];"><span style="text-decoration: [[text-decoration]]; color: [[navigation-text-color]];">[[nav-link-1]]</span></a>
													<span class="navigation-link-2">&nbsp;&nbsp;</span>
													<a href="[[hyper-link-2]]" class="navigation-link-2" style="color: [[navigation-text-color]]; font-family: [[font-family]]; font-weight: [[link-weight]]; text-decoration: [[text-decoration]];"><span style="text-decoration: [[text-decoration]]; color: [[navigation-text-color]];">[[nav-link-2]]</span></a>
													<span class="navigation-link-3">&nbsp;&nbsp;</span>
													<a href="[[hyper-link-3]]" class="navigation-link-3" style="color: [[navigation-text-color]]; font-family: [[font-family]]; font-weight: [[link-weight]]; text-decoration: [[text-decoration]];"><span style="text-decoration: [[text-decoration]]; color: [[navigation-text-color]];">[[nav-link-3]]</span></a>
													<span class="navigation-link-4">&nbsp;&nbsp;</span>
													<a href="[[hyper-link-4]]" class="navigation-link-4" style="color: [[navigation-text-color]]; font-family: [[font-family]]; font-weight: [[link-weight]]; text-decoration: [[text-decoration]];"><span style="text-decoration: [[text-decoration]]; color: [[navigation-text-color]];">[[nav-link-4]]</span></a>
													<span class="navigation-link-5">&nbsp;&nbsp;</span>
													<a href="[[hyper-link-5]]" class="navigation-link-5" style="color: [[navigation-text-color]]; font-family: [[font-family]]; font-weight: [[link-weight]]; text-decoration: [[text-decoration]];"><span style="text-decoration: [[text-decoration]]; color: [[navigation-text-color]];">[[nav-link-5]]</span></a>
												</p>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
				<!-- Template Header: END -->
				<!-- User Content: START -->
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tbody>
						<tr>
							<td align="center" valign="top" width="100%" bgcolor="[[email-background-color]]">
								<table width="100%" border="0" cellspacing="0" cellpadding="0" class="upper-spacer">
									<tbody>
										<tr>
											<td height="10" valign="0"></td>
										</tr>
									</tbody>
								</table>
								<table width="600" border="0" cellpadding="0" cellspacing="0" bgcolor="[[content-background-color]]" style="width:600px;" class="wrapper">
									<tbody>
										<tr>
											<td width="auto" align="center" valign="top">
												<table width="100%" border="0" cellpadding="0" cellspacing="0" class="blockArea block wrapper content responsive-table empty">
													<tbody>
														<tr>
															<td width="auto" align="center" valign="top">

																<!-- User Content: Main Content Start -->
content
																<!-- User Content: Main Content End -->

															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
								<table width="100%" border="0" cellspacing="0" cellpadding="0">
									<tbody>
										<tr>
											<td valign="0" height="10"></td>
										</tr>
										<tr>
											<td valign="0" align="center">
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="wrapper block blockArea responsive-table empty content">
                                                    <tbody>
                                                        <tr>
                                                            <td align="center" valign="middle">
                                                                <!-- terms insert -->
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
				<!-- User Content: END -->
				<!-- Template Footer: START -->
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tbody>
						<tr>
							<td valign="top" align="center">
								<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="[[footer-background-color]]">
									<tbody>
										<tr>
											<td align="center" valign="middle" height="50">
												<p style="letter-spacing: initial; line-height: initial;">
													<a href="#" style="color: [[social-color]]; text-decoration: none;" class="social-twitter"><img src="[[twitter-logo]]" alt="Twitter"></a>
													<span class="social-twitter social-facebook">&nbsp;&nbsp;&nbsp;&nbsp;</span>
													<a href="#" style="color: [[social-color]]; text-decoration: none;" class="social-facebook"><img src="[[facebook-logo]]" alt="Facebook"></a>
													<span class="social-facebook social-instagram">&nbsp;&nbsp;&nbsp;&nbsp;</span>
													<a href="#" style="color: [[social-color]]; text-decoration: none;" class="social-instagram"><img src="[[instagram-logo]]" alt="Instagram"></a>
												</p>
											</td>
										</tr>
										<tr>
											<td height="5" valign="middle"></td>
										</tr>
										<tr>
											<td align="center" valign="top">
												<p style="color: [[footer-text-color]]; font-family: [[font-family]]; font-size: 14px; font-weight: 400; text-decoration: none; letter-spacing: initial; line-height: 1.2em;"><span style="color: [[footer-text-color]];">Sample Footer Text</p>
											</td>
										</tr>
										<tr>
											<td height="10" valign="0"></td>
										</tr>
										<tr>
											<td align="center" valign="top">
												<p style="color: [[footer-text-color]]; font-family: [[font-family]]; font-size: 14px; font-weight: 400; text-decoration: none; letter-spacing: initial; line-height: 1.2em;"><span style="color: [[footer-text-color]];">Can't see this email properly?</span>
                                                <a href="#" style="color: [[view-online-color]]; text-decoration: [[link-underline]];"><span style="text-decoration: [[link-underline]]; color: [[view-online-color]];">View it online here</span></a></p>
											</td>
										</tr>
										<tr>
											<td height="10" valign="0"></td>
										</tr>
										<tr>
											<td align="center" valign="top">
												<p style="color: [[unsubscribe-color]]; font-family: [[font-family]]; font-size: 14px; font-weight: 400; text-decoration: none; letter-spacing: initial; line-height: 1.2em;">
                                                    <a href="#" style="color: [[unsubscribe-color]]; text-decoration: [[link-underline]];"><span style="text-decoration: [[link-underline]]; color: [[unsubscribe-color]];">UNSUBSCRIBE</span></a></p>
											</td>
										</tr>
										<tr>
											<td height="20" valign="0"></td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
				<!-- Template Footer: END -->
			</td>
		</tr>
	</tbody>
</table>
<!-- BrandedEnd -->
